$flat-midnight-blue: #34495e;
$flat-asbestos: #7f8c8d;
$flat-belize: #2980b9;
$flat-clouds: #ecf0f1;
$flat-alizarin: #e74c3c;
$flat-sunflower: #f1c40f;
$flat-nephritis: #27ae60;
$flat-silver: #bdc3c7;
$translucent-black-100: rgba(66,66,66,0.05);
$translucent-black-200: rgba(66,66,66,0.1);
$translucent-black-400: rgba(66,66,66,0.3);
$sidebar-color: #CACDD1;
$color-content-gray-100: #9e9e9e;
$color-content-gray-200: #bdbdbd;
$color-content-gray-300: #757575;
$color-content-gray-400: #616161;
$color-content-gray-500: #424242;
$color-content-gray-600: #212121;

$linkedin-color: #1E87BE;
$bitbucket-color: #205081;
$folder-color: #F6CF74;
$pdf-color: #E10007;
$ms-word-color: #2A5699;

@mixin make-gradient($color1, $color2) {
	/* IE10+ */ 
background-image: -ms-linear-gradient(top, $color1 0%, $color2 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, $color1 0%, $color2 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, $color1 0%, $color2 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color1), color-stop(100, $color2));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
/* W3C Markup */ 
background-image: linear-gradient(to bottom, $color1 0%, $color2 100%);
}

body, html {
  width: 100%;
  height: 100%;
  //background-color: darken($flat-belize, 10%);
  @include make-gradient($flat-midnight-blue, $flat-belize);
}

@keyframes PULL-DOWN {
  0% { 
    top: -100%; 
    opacity: 0;
  }
  50% { 
    top: 20%; 
  }
  100% { 
    top: 10%; 
    opacity: 1;
  }
}

@mixin pull-down($anim-name) {
  animation: $anim-name;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.min-window {
  display: none;
  width: 100px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: $flat-silver;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.73);
  &:hover {
    background-color: lighten($flat-silver, 10%);
  }
}

.doc-browser {
  position: fixed;
  top: -100%;
  width: 600px;
  height: 400px;
  background-color: $flat-clouds;
  box-shadow: 5px 5px 33px rgba(0, 0, 0, 0.73);
  @include pull-down(PULL-DOWN);
  &.maximized {
    position: relative;
  }
  .window-bar {
    height: 35px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: $flat-silver;
    border-bottom: 1px solid $translucent-black-100;
    .w-btn {
      opacity: 0.75;
      height: 12px;
      width: 12px;
      margin: 3px;
      border-radius: 6px;
      border: 1px solid $translucent-black-100;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        opacity: 1.0;
        i {
          opacity: 0.8;
        }
      }
      i {
        opacity: 0;
        color: white;
        font-size: 6px;
      }
      
    }//>.w-btn
    
    .w-close {
      margin-left: 6px;
      background-color: $flat-alizarin;
    }
    .w-min {
      background-color: $flat-sunflower;;
    }
    .w-max {
      background-color: $flat-nephritis;
    }
    
  }//>.window-bar
  
  .window-content-view {
    display: flex;
    flex-direction: row;
  
    .sidebar-folder-list {
      background-color: $sidebar-color;
      height: 365px;
      width: 125px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-right: 1px solid $translucent-black-400;
      padding-top: 20px;
    
      .folder-list-item {
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 30px;
        i {
          font-size: 12px;
          margin-right: 10px;
        }
        p {
          cursor: default;
          padding-top: 8px;
          font-size: 12px;
          -webkit-font-smoothing: antialiased;
        }
      }//>.folder-list-item
    
    }//>.sidebar-folder-list
    
    .main-content-view {
      height: 365px;
      width: 475px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 10px;
      
      .content-item {
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: transparent;
        border-radius: 5px;
        margin: 5px;
        &:hover {
          background-color: $translucent-black-200;
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
        }
        
        .content-icon {
          margin-bottom: 3px;
          color: $color-content-gray-300;
        }
        .fa-bitbucket {
            color: $bitbucket-color;
        }
        .fa-linkedin-square {
          color: $linkedin-color;
        }
        .fa-folder {
          color: $folder-color;
        }
        .fa-file-pdf-o {
          color: $pdf-color;
        }
        .fa-file-word-o {
          color: $ms-word-color;
        }
        
        .content-description {
          font-size: 10px;
          -webkit-font-smoothing: antialiased;
          color: $color-content-gray-300;
          text-align: center;
        }
        
      }//>.content-item
    
    }//>.main-content-view
    
  }//>.window-content-view
  
}//>.doc-browser
